* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: normal;
	min-width: 320px;
	position: relative;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

strong {
	font-weight: 700;
}

.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

input, textarea {
	background-color: #F6F6F6;
	font-family: 'Open Sans';
}
input::placeholder, 
textarea::placeholder {
	color: #9F9F9F;
}

.def-title {
	font-size: 42px;
	font-weight: 700;
	position: relative;
}

.def-title::before {
	content: '';
	height: 1px;
	width: 100%;
	position: absolute;
	top: 31px;
	transform: translateY(-50%);
	left: calc(-100% - 26px);
	background-color: #D62E4C;
}

.def-desc {
	color: #6D6A6A;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.def-button {
	background-color: #D62E4C;
	color: #fff;
	padding: 20px 48px;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	transition: background-color 0.35s ease;
}

.def-button:hover {
	background-color: #BB2440;
}

/* Header START */
.header-top {
	background: #18353E;
	padding-top: 18px;
	padding-bottom: 62px;
	color: #fff;
	font-size: 14px;
}

.header-top-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*.header-top-left {
	padding-left: 3px;
}*/

.header-top-right {
	display: flex;
	align-items: center;
	column-gap: 74px;
}

.header-top-info {
	display: flex;
	align-items: center;
	column-gap: 14px;
}

.header-top-info img {
	max-width: 21px;
}

.header-top-social {
	display: flex;
	align-items: center;
	column-gap: 28px;
}

.header-top-social img{
	max-width: 22px;
}

.header-bottom {
	margin-top: -41px;
	position: absolute;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1240px;
	width: 100%;
}

.header-bottom-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #D62E4C;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
}

.header-bottom-logo {
	background-color: #fff;
	padding: 15px 100px 21px 60px;
	font-size: 0;
	clip-path: polygon(0 0, 100% 0%, 84.694% 100%, 0% 100%);
}

.header-bottom-nav {
	padding: 30px 62px 30px 51px;
	
}

.header-bottom-nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	column-gap: 60px;
	padding: 0;
	margin: 0;
	max-height: 22px;
}
/* Header END */

/* Banner START */
.swiper-slide {
	padding: 175px 0 181px 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	min-height: 692px;
}

.swiper-slide::before {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(35, 31, 31, 0.80);
}

.banner-content {
	max-width: 715px;
	margin: 0 auto;
}

.banner-subtitle {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.banner-title {
	font-size: 54px;
	font-weight: 300;
}

.banner-button {
	margin-top: 18px;
}

.banner-swiper {
	position: relative;
}

.banner-swiper .swiper-button-next,
.banner-swiper .swiper-button-prev {
	box-sizing: content-box;
	color: #fff;
	background: rgba(90, 84, 84, 0.57);
	width: 48px;
	height: 48px;
	padding: 16px;
	margin: 0 56px;
	position: absolute;
	top: 262px;
}

.banner-swiper .swiper-button-next:after,
.banner-swiper .swiper-button-prev:after {
	font-size: 32px;
}

.swiper-pagination {
	height: 14px;
	margin-bottom: 100px;
}

.swiper-pagination-bullet {
	background: #D9D9D9;
	opacity: 1;
	width: 14px;
	height: 14px;
	border-radius: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9.5px);
}

.swiper-pagination-bullet-active {
background: #D62E4C;
}
/* Banner END */

/* About us START */
.s-about {
	padding: 90px 0 125px 0;
}

.about-row {
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.about-left .def-title {
	margin: 41px 0 44px 0;
}

.about-desc {
	width: 505px;
	line-height: 189.9%;
	margin-bottom: 47px;
}
.about-desc strong {
	color: #000;
}

.about-left .def-button {
	padding: 20px 45px;
}

.about-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* About us END */

/* Numbers START */
.s-numbers {
	background: #18353E;
	padding: 72px 0 90px 0;
	color: #FFF;
}

.num-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.barrier {
	width: 1px;
	align-self: stretch;
	background: rgba(213, 213, 213, 0.85);
}

.num-left .def-title {
	line-height: 134.9%;
	width: 387px;
}

.num-left .def-title::before {
	background-color: #fff;
}

.num-left .def-desc {
	color: #9D9494;
	font-size: 18px;
	line-height: 197.9%;
	width: 471px;
}

.num-right {
	box-sizing: content-box;
	display: grid;
	grid-template-columns: repeat(2, 170px);
	justify-content: space-between;
	row-gap: 78px;
	column-gap: 150px;
	width: 490px;
	text-align: center;
	font-style: normal;
	line-height: normal;
	padding-right: 40px;
}

.numbers {
	font-size: 58px;
	font-weight: 900;
	padding-bottom: 17.5px;
}

.num-desc {
	font-size: 18px;
	font-weight: 300;
}
/* Numbers END */

/* Services START */
.s-services {
	background: #fff;
}
/* Services END */