* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: 1.6;
	min-width: 320px;
	position: relative;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

strong {
	font-weight: 700;
}

.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

input, textarea {
	background-color: #F6F6F6;
	font-family: 'Open Sans';
}
input::placeholder, 
textarea::placeholder {
	color: #9F9F9F;
}

/* Header START */
.header-top {
	background: #18353E;
	padding-top: 18px;
	padding-bottom: 62px;
	color: #fff;
	font-size: 14px;
}

.header-top-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*.header-top-left {
	padding-left: 3px;
}*/

.header-top-right {
	display: flex;
	align-items: center;
	column-gap: 74px;
}

.header-top-info {
	display: flex;
	align-items: center;
	column-gap: 14px;
}

.header-top-info img {
	max-width: 21px;
}

.header-top-social {
	display: flex;
	align-items: center;
	column-gap: 28px;
}

.header-top-social img{
	max-width: 22px;
}

.header-bottom {
	margin-top: -41px;
}

.header-bottom-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #D62E4C;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
}

.header-bottom-logo {
	background-color: #fff;
	padding: 15px 100px 21px 60px;
	font-size: 0;
	clip-path: polygon(0 0, 100% 0%, 84.694% 100%, 0% 100%);
}

.header-bottom-nav {
	padding: 30px 62px 30px 51px;
	
}

.header-bottom-nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	column-gap: 60px;
	padding: 0;
	margin: 0;
	max-height: 22px;
}
/* Header END */